//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	height: rem(55);
	font-weight: 700;
	@include adaptiveValue("font-size", 24, 18);
	line-height: math.div(29, 24);
	color: #ffffff;
	background-color: $mainBlue;
	border-radius: rem(8);
	border: 1px solid $mainBlue;
	transition: all 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			border: 1px solid $mainBlue;
			background-color: #ffffff;
			color: $mainBlue;
		}
	}
	&._fw {
		width: 100%;
	}
}
.button-small {
	@include adaptiveValue("width", 234, 185);
}
.button-border-small {
	@include adaptiveValue("width", 234, 185);
	background-color: #ffffff;
	color: $mainBlue;
	border: 1px solid $mainBlue;
	@media (any-hover: hover) {
		&:hover {
			background-color: $mainBlue;
			color: #ffffff;
		}
	}
}
