.block-categories {
}
.categories-block {
	@include adaptiveValue("padding-top", 61, 20);
	@include adaptiveValue("padding-bottom", 30, 10);
	// .categories-block__container
	&__container {
	}
	// .categories-block__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: em(20, 72);
		}
	}
	// .categories-block__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
		gap: rem(20);
	}
	// .categories-block__item
	&__item {
	}
}
.item-categories-block {
	text-align: center;
	display: flex;
	flex-direction: column;
	border: rem(1) solid #ebebeb;
	border-radius: rem(22);
	// .item-categories-block__img
	&__img {
		padding-bottom: 63%;
		position: relative;
		& img {
			border-top-left-radius: rem(22);
			border-top-right-radius: rem(22);
			object-position: center;
			object-fit: cover;
		}
		&::before {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 100%);
			z-index: 2;
		}
	}
	// .item-categories-block__content
	&__content {
		flex: 1 1 auto;
	}
	// .item-categories-block__body
	&__body {
		height: 100%;
		padding: rem(10) rem(20) rem(20);
		display: flex;
		flex-direction: column;
	}
	// .item-categories-block__title
	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 30, 24);
		line-height: math.div(37, 30);
		color: $mainColor;
		&:not(:last-child) {
			margin-bottom: em(9, 30);
		}
	}
	// .item-categories-block__cost
	&__cost {
		background-color: rgba(224, 231, 236, 0.35);
		border-radius: rem(69);
		font-weight: 300;
		@include adaptiveValue("font-size", 18, 16);
		line-height: math.div(22, 18);
		color: $mainText;
		padding: rem(14) 0;
		& span {
			font-weight: 700;
			@include adaptiveValue("font-size", 30, 20);
			line-height: math.div(37, 30);
			color: $mainBlue;
		}
		&:not(:last-child) {
			margin-bottom: rem(18);
		}
	}
	// .item-categories-block__text
	&__text {
		flex: 1 1 auto;
		font-weight: 300;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(22, 18);
		color: $mainText;
		&:not(:last-child) {
			margin-bottom: em(20, 18);
		}
	}
	// .item-categories-block__btn
	&__btn {
		align-self: center;
	}
}
// ==========================================================================
.block-characteristics {
}
.characteristics-block {
	@include adaptiveValue("padding-top", 80, 20);
	@include adaptiveValue("padding-bottom", 36, 10);
	// .characteristics-block__container
	&__container {
	}
	// .characteristics-block__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
		gap: rem(20);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 80, 30);
		}
	}
	// .characteristics-block__item
	&__item {
	}
	// .characteristics-block__prices
	&__prices {
	}
}
.item-characteristics-block {
	border: rem(1) solid #ebebeb;
	border-radius: rem(22);
	padding: rem(50) rem(20) rem(20);
	// .item-characteristics-block__body
	&__body {
	}
	// .item-characteristics-block__icon
	&__icon {
		position: relative;
		padding-left: rem(22);
		&::before {
			content: "";
			position: absolute;
			top: rem(-32);
			left: 0;
			width: rem(62);
			height: rem(62);
			border: rem(10) solid rgba(191, 210, 225, 0.2);
			border-radius: 50%;
		}
		&::after {
			content: "";
			position: absolute;
			top: rem(-35);
			left: 0;
			width: rem(16);
			height: rem(16);
			background: rgba(191, 210, 225, 0.4);
			border-radius: 50%;
		}
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	// .item-characteristics-block__title
	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 20);
		line-height: math.div(29, 24);
		color: $mainColor;
		& span {
			font-weight: 300;
			@include adaptiveValue("font-size", 18, 16);
			line-height: math.div(22, 18);
		}
	}
}
.prices-characteristics-block {
	text-align: center;
	// .prices-characteristics-block__title
	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 20);
		line-height: math.div(29, 24);
		color: $mainColor;
		border-bottom: rem(2) solid #ebebeb;
		padding-bottom: rem(20);
	}
	// .prices-characteristics-block__name
	&__name {
	}
	// .prices-characteristics-block__price
	&__price {
	}
	// .prices-characteristics-block__content
	&__content {
		padding: rem(20) 0;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 10);
		}
	}
	// .prices-characteristics-block__row
	&__row {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("padding", 20, 10);
	}
	// .prices-characteristics-block__row-blue
	&__row-blue {
		background-color: rgba(191, 210, 225, 0.12);
		border-radius: rem(8);
	}
	// .prices-characteristics-block__description
	&__description {
		font-weight: 300;
		@include adaptiveValue("font-size", 24, 16);
		line-height: math.div(29, 24);
		color: $mainColor;
	}
	// .prices-characteristics-block__cost
	&__cost {
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 16);
		line-height: math.div(29, 24);
		color: $mainBlue;
		& span {
			font-weight: 300;
		}
	}
	// .prices-characteristics-block__btn
	&__btn {
	}
}
