.block-main {
}
.main-block {
	position: relative;
	@include adaptiveValue("padding-top", 233, 180);
	@include adaptiveValue("padding-bottom", 227, 100);
	// .main-block__container
	&__container {
	}
	// .main-block__body
	&__body {
		position: relative;
		max-width: rem(692);
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: rem(23);
		@include adaptiveValue("padding-right", 47, 15);
		@include adaptiveValue("padding-left", 47, 15);
		@include adaptiveValue("padding-top", 37, 25);
		@include adaptiveValue("padding-bottom", 42, 25);
		z-index: 1;
	}
	// .main-block__promo
	&__promo {
		font-weight: 300;
		font-size: rem(30);
		line-height: math.div(37, 30);
		color: $mainColor;
		&:not(:last-child) {
			margin-bottom: em(8, 30);
		}
	}
	// .main-block__title
	&__title {
		font-family: CaviarDreams;
		font-weight: 700;
		@include adaptiveValue("font-size", 72, 36);
		line-height: math.div(91, 72);
		color: $mainColor;
		&:not(:last-child) {
			margin-bottom: em(14, 72);
		}
	}
	// .main-block__text
	&__text {
		font-weight: 300;
		@include adaptiveValue("font-size", 24, 16);
		line-height: math.div(29, 24);
		color: $mainText;
		&:not(:last-child) {
			margin-bottom: em(54, 24);
		}
	}
	// .main-block__buttons
	&__buttons {
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}
	// .main-block__img
	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 55.58%);
			z-index: 1;
		}
		& img {
			clip-path: polygon(0 0, 100% 0, 100% 93%, 82% 97%, 65% 100%, 35% 100%, 18% 97%, 0 93%);
			object-position: 30% top;
			@media (max-width: $mobile) {
				clip-path: none;
			}
		}
	}
}
.button {
	&:not(:last-child) {
		margin-right: rem(20);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("margin-bottom", 20, 10);
		width: 100%;
		&:not(:last-child) {
			margin-right: rem(0);
		}
	}
}
// =============================================================================
