.page {
	.block-main {
	}
	.block-advantages {
	}
	.block-about {
	}
	.block-services {
	}
	.block-helps {
	}
	.block-contact-phone {
	}
	.block-personal {
	}
	.block-successes {
	}
	.block-licenses {
	}
	.block-reviews {
	}
	.block-news {
	}
}
// =============================================================================
.main-block {
	position: relative;
	@include adaptiveValue("padding-top", 233, 180);
	@include adaptiveValue("padding-bottom", 227, 100);
	// .main-block__container
	&__container {
	}
	// .main-block__body
	&__body {
		position: relative;
		max-width: rem(692);
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: rem(23);
		@include adaptiveValue("padding-right", 47, 15);
		@include adaptiveValue("padding-left", 47, 15);
		@include adaptiveValue("padding-top", 37, 25);
		@include adaptiveValue("padding-bottom", 42, 25);
		z-index: 2;
	}
	// .main-block__promo
	&__promo {
		font-weight: 300;
		@include adaptiveValue("font-size", 30, 20);
		line-height: math.div(37, 30);
		color: $mainColor;
		&:not(:last-child) {
			margin-bottom: em(8, 30);
		}
	}
	// .main-block__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(14, 72);
		}
	}
	// .main-block__text
	&__text {
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 54, 16);
		}
	}
	// .main-block__buttons
	&__buttons {
		@media (max-width: $mobileSmall) {
			text-align: center;
		}
	}
	// .main-block__img
	&__img {
		position: absolute;
		width: 100vw;
		height: 100%;
		top: 0;
		left: 0;
		&::before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 55.58%);
			z-index: 1;
		}
		& img {
			clip-path: polygon(0 0, 100% 0, 100% 93%, 82% 97%, 65% 100%, 35% 100%, 18% 97%, 0 93%);
			object-position: 30% top;
			@media (max-width: $mobile) {
				clip-path: none;
			}
		}
	}
}
.button {
	&:not(:last-child) {
		margin-right: rem(20);
	}
	@media (max-width: $mobile) {
		@include adaptiveValue("margin-bottom", 20, 10);
		width: 100%;
	}
}
// =============================================================================
.advantages-block {
	// .advantages-block__container
	&__container {
	}
	// .advantages-block__items
	&__items {
		position: relative;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(285), 1fr));
		gap: rem(20);
		margin-top: rem(-130);
		z-index: 2;
		@media (max-width: $mobile) {
			margin-top: rem(-50);
		}
	}
	// .advantages-block__item
	&__item {
	}
	// .advantages-block__content
	&__content {
	}
}
.item-advantages-block {
	display: flex;
	gap: rem(18);
	background-color: #e0e7ec;
	border-radius: rem(22);
	padding-top: 23px;
	padding-left: 20px;
	@include adaptiveValue("padding-bottom", 39, 15);
	@include adaptiveValue("padding-right", 30, 15);
	// .item-advantages-block__icon
	&__icon {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			left: rem(-7);
			top: rem(-10);
			width: rem(37);
			height: rem(37);
			background-color: #ffffff;
			border-radius: 50%;
		}
		& img {
			position: relative;
			z-index: 2;
		}
	}
	// .item-advantages-block__content
	&__content {
	}
	// .item-advantages-block__title
	&__title {
		position: relative;
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 20);
		line-height: math.div(32, 24);
		color: $mainColor;
		padding-bottom: rem(8);
		&::before {
			content: "";
			position: absolute;
			width: rem(74);
			height: rem(4);
			bottom: 0;
			background-color: $mainBlue;
			border-radius: rem(12);
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 20, 14);
		}
	}
	// .item-advantages-block__text
	&__text {
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(20, 16);
		color: $mainText;
	}
}
// =============================================================================
.about-block {
	@include adaptiveValue("padding-top", 72, 20);
	@include adaptiveValue("padding-bottom", 73, 20);
	@media (min-width: $mobile) {
		display: flex;
	}
	// .about-block__content
	&__content {
		flex: 0 0 100%;
	}
	// .about-block__container
	&__container {
	}
	// .about-block__body
	&__body {
		@media (min-width: $mobile) {
			width: 45%;
		}
	}
	// .about-block__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(22, 72);
		}
	}
	// .about-block__text
	&__text {
	}
	// .about-block__media
	&__media {
		position: relative;
		margin-bottom: rem(22);
		& img {
			max-width: 100%;
		}
		&::before {
			content: "";
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(180deg, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.9) 100%);
			z-index: 2;
		}
		@media (min-width: $mobile) {
			position: relative;
			flex: 0 0 calc(((100vw - rem(30)) * 0.5) + rem(15));
			margin-bottom: 0;
			padding: 0 0 21.1% 0;
			transform: translate(-100%, 0);
			& img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: contain;
				object-position: left;
			}
		}
		@media (min-width: $pc) {
			flex: 0 0 calc(50vw - (0.5 - 0.5) * (rem(1200) - rem(30)));
		}
	}
}
// =============================================================================
.services-block {
	background-color: #e0e7ec;
	@media (min-width: $mobile) {
		display: flex;
	}
	// .services-block__img
	&__img {
		clip-path: polygon(100% 0, 100% 91%, 90% 95%, 79% 98%, 62% 100%, 42% 100%, 22% 98%, 10% 95%, 0 91%, 0 0);
		& img {
			max-width: 100%;
		}
		@media (min-width: $mobile) {
			position: relative;
			flex: 0 0 calc(((100vw - rem(30)) * 0.4) + rem(15));
			clip-path: polygon(94% 0, 97% 10%, 99% 22%, 100% 32%, 100% 60%, 99% 76%, 97% 89%, 94% 100%, 0 100%, 0 0);
			& img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				right: 0;
				object-fit: cover;
				object-position: right;
			}
		}
		@media (min-width: $pc) {
			flex: 0 0 calc(50vw - (0.5 - 0.3) * (rem(1200) - rem(30)));
		}
	}
	// .services-block__content
	&__content {
	}
	// .services-block__container
	&__container {
	}
	// .services-block__body
	&__body {
		@include adaptiveValue("padding-top", 73, 20);
		@include adaptiveValue("padding-bottom", 75, 20);
		padding-left: rem(37);
		@media (max-width: $mobile) {
			padding-left: 0;
		}
	}
	// .services-block__subtitle
	&__subtitle {
		font-weight: 300;
		@include adaptiveValue("font-size", 30, 20);
		line-height: math.div(37, 30);
		color: &mainColor;
		&:not(:last-child) {
			margin-bottom: em(8, 30);
		}
	}
	// .services-block__title
	&__title {
		line-height: math.div(78, 72);
		&:not(:last-child) {
			margin-bottom: em(20, 72);
		}
	}
	// .services-block__spollers
	&__spollers {
		padding-left: rem(15);
	}
	// .services-block__list
	&__list {
	}
	// .services-block__item
	&__item {
	}
	// .services-block__link
	&__link {
		cursor: default;
		padding: rem(10) rem(15);
		font-size: rem(24);
		line-height: math.div(29, 24);
		color: inherit;
		position: relative;
		._spoller-init & {
			cursor: pointer;
			&::before {
				content: "";
				position: absolute;
				left: rem(-20);
				top: 50%;
				transform: translate(0, -50%);
				width: rem(24);
				height: rem(24);
				background: url("@img/services/arrow.svg") 0 0 no-repeat;
				background-size: contain;
				transition: transform 0.5s ease 0s;
			}
			&._spoller-active {
				&::before {
					transform: translate(0, -30%) rotate(-90deg);
				}
			}
		}
	}
	// .services-block__text
	&__text {
		@media (min-width: $mobile) {
			padding: rem(20);
		}
	}
}
// =============================================================================
.helps-block {
	@include adaptiveValue("padding-top", 66, 20);
	@include adaptiveValue("padding-bottom", 36, 15);
	// .helps-block__container
	&__container {
	}
	// .helps-block__body
	&__body {
	}
	// .helps-block__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: em(34, 72);
		}
	}
	// .helps-block__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
		gap: rem(20);
	}
	// .helps-block__item
	&__item {
	}
}
.item-helps-block {
	border: rem(1) solid #ebebeb;
	border-radius: rem(20);
	@include adaptiveValue("padding-top", 62, 50);
	@include adaptiveValue("padding-bottom", 30, 15);
	@include adaptiveValue("padding-left", 30, 15);
	@include adaptiveValue("padding-right", 30, 15);
	// .item-helps-block__icon
	&__icon {
		position: relative;
		padding-left: rem(22);
		&::before {
			content: "";
			position: absolute;
			top: rem(-32);
			left: 0;
			width: rem(62);
			height: rem(62);
			border: rem(10) solid rgba(191, 210, 225, 0.2);
			border-radius: 50%;
		}
		&::after {
			content: "";
			position: absolute;
			top: rem(-35);
			left: 0;
			width: rem(16);
			height: rem(16);
			background: rgba(191, 210, 225, 0.4);
			border-radius: 50%;
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 28, 15);
		}
	}
	// .item-helps-block__title
	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 20);
		line-height: math.div(29, 24);
		color: $mainColor;
		&:not(:last-child) {
			margin-bottom: em(12, 24);
		}
	}
	// .item-helps-block__text
	&__text {
	}
}
// =============================================================================
.phone-contact-block {
	position: relative;
	background-color: #e0e7ec;
	overflow: hidden;
	@include adaptiveValue("padding-bottom", 100, 20);
	// .phone-contact-block__svg
	&__svg {
	}
	// .phone-contact-block__container
	&__container {
		text-align: center;
		position: relative;
	}
	// .phone-contact-block__btn
	&__btn {
		font-size: rem(66);
		background-color: #ffffff;
		color: #e0e7ec;
		border: rem(8) solid #ffffff;
		border-radius: 50%;
		transform: rotate(270deg);
		margin-top: rem(35);
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				border: rem(8) solid #e0e7ec;
				background-color: #e0e7ec;
				color: #ffffff;
			}
		}
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 68, 30);
		}
	}
	// .phone-contact-block__circle
	&__circle {
		position: absolute;
		opacity: 0.7;
		z-index: 1;
	}
	// .phone-contact-block__circle-1
	&__circle-1 {
		width: rem(303);
		height: rem(303);
		bottom: -15%;
	}
	// .phone-contact-block__circle-2
	&__circle-2 {
		width: rem(196);
		height: rem(196);
		top: 0;
		right: 0;
	}
	// .phone-contact-block__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(7, 72);
		}
	}
	// .phone-contact-block__subtitle
	&__subtitle {
		font-weight: 300;
		@include adaptiveValue("font-size", 30, 20);
		line-height: math.div(37, 30);
		color: $mainColor;
		&:not(:last-child) {
			margin-bottom: em(39, 30);
		}
	}
	// .phone-contact-block__form
	&__form {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
		gap: rem(20);
		position: relative;
		z-index: 2;
	}
	// .phone-contact-block__name
	&__name,
	&__phone {
		position: relative;
	}
	// .phone-contact-block__name
	&__name {
	}
	// .phone-contact-block__phone
	&__phone {
	}
	// .phone-contact-block__icon
	&__icon {
		position: absolute;
		top: rem(27);
		left: rem(22);
		transform: translateY(-50%);
		font-size: rem(27);
		color: #bfd2e1;
	}
	// .phone-contact-block__input
	&__input {
		width: 100%;
		background-color: inherit;
		height: rem(55);
		border: rem(1) solid $mainBlue;
		border-radius: rem(8);
		padding: 0 rem(20);
		&-icon {
			padding-left: rem(69);
		}
		&-colorWhite {
			color: #ffffff;
		}
		&::placeholder {
			font-weight: 300;
			font-size: rem(18);
			line-height: math.div(22, 18);
			color: #777777;
		}
	}
	// .phone-contact-block__button
	&__button {
	}
}
// =============================================================================
.personal-block {
	position: relative;
	text-align: center;
	@include adaptiveValue("padding-top", 67, 20);
	@include adaptiveValue("padding-bottom", 80, 20);
	// .personal-block__container
	&__container {
	}
	// .personal-block__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(22, 72);
		}
	}
	// .personal-block__text
	&__text {
		&:not(:last-child) {
			margin-bottom: em(30, 24);
		}
	}
	&__body {
		position: relative;
	}
	// .personal-block__slider
	&__slider {
	}
	// .personal-block__wrapper
	&__wrapper {
	}
	// .personal-block__slide
	&__slide {
	}
}
.slide-personal-block {
	// .slide-personal-block__img
	&__img {
		padding-bottom: 101%;
		& img {
			border: 1px solid #ebebeb;
			border-radius: 22px;
			object-position: center;
		}
	}
	// .slide-personal-block__title
	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 20);
		line-height: math.div(29, 24);
		text-align: center;
		color: $mainColor;
		margin-top: rem(15);
		&:not(:last-child) {
			margin-bottom: em(12, 24);
		}
	}
	// .slide-personal-block__text
	&__text {
		@include adaptiveValue("font-size", 24, 14);
		line-height: math.div(29, 24);
		text-align: center;
		color: $mainColor;
	}
}
//=============================================================================
.successes-block {
	background-color: #e0e7ec;
	@include adaptiveValue("padding-top", 80, 20);
	@include adaptiveValue("padding-bottom", 71, 20);
	// .successes-block__container
	&__container {
	}
	// .successes-block__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(130), 1fr));
		column-gap: rem(30);
		row-gap: rem(15);
		@media (max-width: $mobile) {
			column-gap: rem(15);
		}
	}
	// .successes-block__item
	&__item {
	}
}
.item-successes-block {
	// .item-successes-block__content
	&__content {
		position: relative;
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 35, 20);
		}
	}
	// .item-successes-block__number
	&__number {
		position: absolute;
		bottom: 0;
		left: 0;
		font-weight: 700;
		@include adaptiveValue("font-size", 72, 52);
		line-height: math.div(88, 72);
		color: $mainBlue;
		z-index: 2;
		@media (max-width: $mobile) {
			left: rem(40);
		}
	}
	// .item-successes-block__icon
	&__icon {
	}
	// .item-successes-block__subtitle
	&__subtitle {
		font-weight: 700;
		@include adaptiveValue("font-size", 30, 16);
		line-height: math.div(37, 30);
		color: $mainColor;
	}
	@media (max-width: $mobile) {
		text-align: center;
	}
}
//=============================================================================
.licenses-block {
	@include adaptiveValue("padding-top", 66, 20);
	@include adaptiveValue("padding-bottom", 80, 20);
	text-align: center;
	// .licenses-block__container
	&__container {
	}
	// .licenses-block__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(22, 72);
		}
	}
	// .licenses-block__text
	&__text {
		&:not(:last-child) {
			margin-bottom: em(32, 24);
		}
	}
	// .licenses-block__body
	&__body {
		position: relative;
	}
	// .licenses-block__slider
	&__slider {
	}
	// .licenses-block__wrapper
	&__wrapper {
	}
	// .licenses-block__slide
	&__slide {
	}
	// .licenses-block__img
	&__img {
		padding-bottom: 142%;
		& img {
			border: rem(1) solid #ebebeb;
			border-radius: rem(22);
			object-position: center;
			object-fit: cover;
		}
	}
	// .licenses-block__pgn
	&__pgn {
	}
	// .licenses-block__btnPrev
	&__btnPrev,
	&__btnNext {
		top: 45% !important;
	}
	// .licenses-block__btnNext
	&__btnNext {
	}
}
//=============================================================================
.reviews-block {
	position: relative;
	background-color: #e0e7ec;
	overflow: hidden;
	@include adaptiveValue("padding-top", 66, 20);
	padding-bottom: rem(28);
	z-index: 1;
	&::before {
		@extend %ic;
		@extend ._icon-cross;
		position: absolute;
		color: #eef2f5;
		@include adaptiveValue("font-size", 208, 141);
		bottom: -15%;
		@include adaptiveValue("right", 250, 0);
		opacity: 0.6;
	}
	// .reviews-block__container
	&__container {
		&::before {
			@extend %ic;
			@extend ._icon-cross;
			position: absolute;
			color: #eef2f5;
			@include adaptiveValue("font-size", 113, 93);
			@include adaptiveValue("top", 150, 100);
			@include adaptiveValue("right", 100, 0);
			opacity: 0.6;
		}
	}
	// .reviews-block__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(20, 72);
		}
	}
	// .reviews-block__body
	&__body {
		position: relative;
	}
	// .reviews-block__slider
	&__slider {
	}
	// .reviews-block__wrapper
	&__wrapper {
	}
	// .reviews-block__slide
	&__slide {
	}
	// .reviews-block__pgn
	&__pgn {
		.swiper-pagination-bullet {
			background-color: #ffffff;
			&-active {
				background-color: #75abd6;
				&::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					transform: scale(1.6);
					background-color: #ffffff;
					border-radius: 50%;
					z-index: -1;
				}
			}
		}
	}
	// .reviews-block__btnPrev
	&__btnPrev,
	&__btnNext {
		color: #ffffff !important;
		@media (max-width: $mobile) {
			top: 85% !important;
		}
	}
	// .reviews-block__btnNext
	&__btnNext {
	}
}
.slide-reviews-block {
	// .slide-reviews-block__body
	&__body {
		display: flex;
		gap: rem(20);
	}
	// .slide-reviews-block__img
	&__img {
		position: relative;
		flex: 0 0 rem(100);
		height: rem(100);
		& img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			border: rem(1) solid #ebebeb;
			border-radius: 50%;
			object-position: right;
			object-fit: cover;
		}
	}
	// .slide-reviews-block__content
	&__content {
	}
	// .slide-reviews-block__text
	&__text {
		font-weight: 300;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(25, 18);
		color: $mainText;
		max-height: rem(100);
		overflow: auto;
		&:not(:last-child) {
			margin-bottom: em(20, 25);
		}
	}
	// .slide-reviews-block__title
	&__title {
		position: relative;
		font-weight: 700;
		padding-left: rem(44);
		@include adaptiveValue("font-size", 24, 20);
		line-height: math.div(29, 24);
		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 50%;
			width: rem(24);
			height: rem(2);
			background-color: $mainColor;
		}
		&:not(:last-child) {
			margin-bottom: em(7, 24);
		}
	}
	// .slide-reviews-block__subtitle
	&__subtitle {
		font-weight: 300;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(22, 18);
	}
}
//=============================================================================
.news-block {
	@include adaptiveValue("padding-top", 66, 20);
	padding-bottom: rem(10);
	// .news-block__container
	&__container {
	}
	// .news-block__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			margin-bottom: em(22, 72);
		}
	}
	// .news-block__body
	&__body {
		position: relative;
	}
	// .news-block__slider
	&__slider {
	}
	// .news-block__wrapper
	&__wrapper {
	}
	// .news-block__slide
	&__slide {
	}
	// .news-block__btnPrev
	&__btnPrev,
	&__btnNext {
		top: 27.5% !important;
		@media (min-width: $mobile) {
			top: 30% !important;
		}
	}
	// .news-block__btnNext
	&__btnNext {
	}
}
.slide-news-block {
	// .slide-news-block__img
	&__img {
		padding-bottom: 67%;
		& img {
			border: rem(1) solid #ebebeb;
			border-radius: rem(22);
			object-position: center;
			object-fit: cover;
		}
	}
	// .slide-news-block__title
	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 24, 22);
		line-height: math.div(29, 24);
		color: $mainColor;
		@include adaptiveValue("margin-top", 29, 16);
		&:not(:last-child) {
			margin-bottom: em(8, 29);
		}
	}
	// .slide-news-block__tetx
	&__text {
		font-weight: 300;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(25, 18);
		color: $mainText;
		&:not(:last-child) {
			margin-bottom: em(7, 25);
		}
	}
	// .slide-news-block__link
	&__link {
		font-weight: 700;
		font-size: rem(18);
		line-height: math.div(22, 18);
		text-decoration: underline !important;
		transition: all 0.3s ease 0s;
		color: $mainBlue;
		@media (any-hover: hover) {
			&:hover {
				color: $mainColor;
			}
		}
	}
}
