.footer {
	background-color: $mainColor;
	color: #ffffff;
	// .footer__container
	&__container {
	}
	// .footer__inputs
	&__inputs {
		@include adaptiveValue("padding-top", 50, 20);
		@include adaptiveValue("padding-bottom", 45, 20);
		border-bottom: rem(1) solid #515151;
	}
	// .footer__contacts
	&__contacts {
		@include adaptiveValue("padding-top", 36, 20);
		@include adaptiveValue("padding-bottom", 39, 20);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(rem(277), 1fr));
		column-gap: rem(30);
		row-gap: rem(20);
	}
	// .footer__contact
	&__contact {
	}
}
.contact-footer-item {
	// .contact-footer-item__title
	&__title {
		position: relative;
		width: 100%;
		cursor: default;
		text-align: left;
		font-weight: 700;
		font-size: rem(24);
		line-height: math.div(25, 24);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 23, 15);
		}
		._spoller-init & {
			cursor: pointer;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: rem(10);
				top: 50%;
				background-color: #ffffff;
				height: rem(2);
				width: rem(15);
				transition: transform 0.5s ease 0s;
			}
			&::before {
				transform: translate(-75%, -50%) rotate(40deg);
			}
			&::after {
				transform: translate(0, -50%) rotate(-40deg);
			}
			&._spoller-active {
				&::before {
					transform: translateX(-75%) rotate(-40deg);
				}
				&::after {
					transform: rotate(40deg);
				}
			}
		}
	}
	// .contact-footer-item__text
	&__text {
		font-weight: 300;
		@include adaptiveValue("font-size", 18, 16);
		line-height: math.div(25, 18);
		&-grey {
			color: #818181;
		}
		&:not(:last-child) {
			margin-bottom: em(17, 18);
		}
	}
	// .contact-footer-item__link
	&__link {
		font-weight: 300;
		font-size: rem(18);
		line-height: math.div(25, 18);
		text-decoration-line: underline !important;
		transition: all 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $mainBlue;
			}
		}
	}
	// .contact-footer-item__block
	&__block {
	}
	// .contact-footer-item__address
	&__address {
		display: flex;
		gap: rem(18);
		transition: all 0.3s ease 0s;
		&::before {
			font-size: rem(16);
		}
		&:not(:last-child) {
			margin-bottom: rem(10);
		}
		@media (any-hover: hover) {
			&:hover {
				color: $mainBlue;
			}
		}
	}
	// .contact-footer-item__phone
	&__phone {
	}
}
.footer-phone {
	display: flex;
	gap: rem(18);
	transition: all 0.3s ease 0s;
	// .footer-phone__icon
	&__icon {
		&::before {
			font-size: rem(14);
		}
	}
	// .footer-phone__link
	&__link {
	}
	// .footer-phone__text
	&__text {
	}
	@media (any-hover: hover) {
		&:hover {
			color: $mainBlue;
		}
	}
}
