.block-personals {
}
.personals-block {
	@include adaptiveValue("padding-top", 61, 20);
	@include adaptiveValue("padding-bottom", 30, 20);
	// .personals-block__container
	&__container {
	}
	// .personals-block__title
	&__title {
		&:not(:last-child) {
			margin-bottom: em(20, 72);
		}
	}
	// .personals-block__body
	&__body {
		position: relative;
	}
	// .personals-block__slider
	&__slider {
	}
	// .personals-block__wrapper
	&__wrapper {
	}
	// .personals-block__slide
	&__slide {
		@media (min-width: $mobile) {
			display: flex;
			gap: rem(40);
		}
	}
	// .personals-block__pgn
	&__pgn {
	}
	// .personals-block__btnPrev
	&__btnPrev {
	}
	// .personals-block__btnNext
	&__btnNext {
	}
	&__btnPrev.swiper-button-prev,
	&__btnNext.swiper-button-next {
		@media (max-width: $mobile) {
			@include adaptiveValue("top", 600, 170);
		}
	}
}
.slide-personals-block {
	// .slide-personals-block__img
	&__img {
		padding-bottom: 100%;
		@media (min-width: $mobile) {
			flex: 0 0 percent(387, 1200);
			padding-bottom: 30%;
		}
		& img {
			border: rem(1) solid #ebebeb;
			border-radius: rem(22);
			object-position: center;
			object-fit: cover;
		}
		&:not(:last-child) {
			margin-bottom: rem(15);
		}
	}
	// .slide-personals-block__content
	&__content {
	}
	// .slide-personals-block__name
	&__name {
		border-bottom: rem(1) solid #ebebeb;
		padding-bottom: rem(27);
		@media (max-width: $mobile) {
			text-align: center;
		}
	}
	// .slide-personals-block__title
	&__title {
		font-weight: 700;
		@include adaptiveValue("font-size", 30, 20);
		line-height: math.div(37, 30);
		color: $mainColor;
		&:not(:last-child) {
			margin-bottom: em(9, 30);
		}
	}
	// .slide-personals-block__subtitle
	&__subtitle {
		font-weight: 300;
		@include adaptiveValue("font-size", 18, 16);
		line-height: math.div(22, 18);
		color: $mainText;
	}
	// .slide-personals-block__about
	&__about {
		padding-top: rem(26);
	}
	// .slide-personals-block__text
	&__text {
		font-weight: 300;
		@include adaptiveValue("font-size", 18, 14);
		line-height: math.div(22, 18);
		color: $mainText;
		&:not(:last-child) {
			margin-bottom: em(27, 18);
		}
	}
	// .slide-personals-block__growth
	&__growth {
		display: flex;
		gap: rem(36);
	}
	// .slide-personals-block__column
	&__column {
		display: grid;
		gap: rem(12);
	}
	// .slide-personals-block__item
	&__item {
		font-weight: 700;
		@include adaptiveValue("font-size", 18, 16);
		line-height: math.div(22, 18);
		color: &mainColor;
	}
	// .slide-personals-block__item-text
	&__item-text {
		font-weight: 300;
		color: &mainText;
		@media (max-width: $mobile) {
			text-align: right;
		}
	}
	// .slide-personals-block__icons
	&__icons {
		display: inline-flex;
		gap: rem(20);
	}
}
.icons-personals-block {
	// .icons-personals-block__item
	&__item {
	}
	// .icons-personals-block__link
	&__link {
		font-size: rem(20);
	}
}
